<main>
  <section class="cat-index-holder">
    <nav>
      <h1>ALL OF THE CATS IN THE WORLD</h1>
      <a href="<%= new_cat_url %>">
        Add Cat
      </a>
    </nav>
    <section class="cat-index">
      <%= render @cats %>
    </section>
  </section>
</main>
